
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(193,255,252);
    background: linear-gradient(90deg, rgba(193,255,252,1) 13%, rgba(244,245,245,1) 88%);
}

#quizBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17rem;
    text-align: center;
}

#textBox p {
    color: red;
    font-size: 20px;
}

h1 img {
    height: 100px;
    width: 100px;
}

#btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #022569; 
    color: white;
    padding: 12px 20px;
    border: none; 
    border-radius: 4px;
    cursor: pointer; 
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #6b6b6b;
  }
  
#startBtn {
    margin: 2.2rem;
}

#options-id {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}